#info-contact {
  margin-top: 10%;
}

.contacts-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 100%;
}

.contacts-list a {
  color: inherit;
  text-decoration: none;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.info {
  transition: opacity 0.5s ease-in-out;
}

.info.show {
  animation: slideIn 1s forwards;
  display: flex;
}

.info.hide {
  animation: slideOut 1s forwards;
  display: none;
}
